.button {
display: inline-block;
padding: 15px 30px;
border-radius: 20px;
text-decoration: none;
font-weight: bold;
color: white;
background-color: red;
font-weight: bold;
margin-top: 20px;
}

.button:hover {
  opacity: 0.6;
}
